In [6]:
divmod(14,3)

(4, 2)

In [7]:
len('You need python')

15

In [10]:
A = [1,2,3,4,5]
A[1:3]

[2, 3]

In [14]:
a = [2,'r',5,'w',7,4]
print(a.index(2)) # a에 있는 2의 위치값
print(a[2]) # a에서 세번째 자리에 있는 요소

0
5

In [18]:
t = (1,2,3)
print(t+(4,))
# 튜플이 한 개의 요소만 가질 때에는 반드시 뒤에 콤마를 붙여라!
# 안 그러면 단순 정수 취급

(1, 2, 3, 4)

In [20]:
{'name':'홍길동','birth':'1128','age':30}

{'name': '홍길동', 'birth': '1128', 'age': 30}

In [25]:
a = {'국어':80,'영어':75,'수학':55}
ave = (a['국어']+a['영어']+a['수학'])/len(a.keys())
ave

70.0

In [27]:
13//2 == 0

False

In [32]:
pin = "881120-1068234"
yyyymmdd = pin[:6] 
num = pin[7:]
print(yyyymmdd)
print(num)
print(pin[7])

881120
1068234
1

In [33]:
a = 'a:b:c:d'
print(a.replace(':','#'))

a#b#c#d

In [35]:
a = [1,3,5,4,2]
a.sort(reverse=1)
print(a)

[5, 4, 3, 2, 1]

In [36]:
a = ['Life','is','too','short']
print(' '.join(a))

Life is too short

In [38]:
a = (1,2,3)
print(a+(4,))

(1, 2, 3, 4)

In [41]:
a = {'A':90, 'B':80,'C':70}
print(a.pop('B'))
print(a)

80
{'A': 90, 'C': 70}

In [43]:
a = [1,1,1,2,2,3,3,3,4,4,5]
sorted(set(a))

[1, 2, 3, 4, 5]

In [44]:
p = ['card']
if 'card' in p: print('버스 타고 가라.')
else: print('걸어가라.')

버스 타고 가라.

In [48]:
li = []
for i in range(1,11):
    if i%3==0:
        pass
    else: li.append(i)
print(li)

[1, 2, 4, 5, 7, 8, 10]

In [50]:
for i in range(1,11):
    if i%3 ==0: pass
    else: print(i,end=" ")

1 2 4 5 7 8 10

In [56]:
marks = [90,25,67,45,80]
for i in marks:
    if i>=60:
        print(f'{marks.index(i)+1}번째 학생은 합격입니다.')

1번째 학생은 합격입니다.
3번째 학생은 합격입니다.
5번째 학생은 합격입니다.

In [61]:
s = 0
for i in range(1,101):
    if i <=100:
        s+=i
print(s)

5050

In [69]:
tot = 1
s = 0
while t<1001:
    if t%3==0:
        s+=tot
    t+=1
print(s)

0

In [68]:
i = 1
while i<=5:
    print('*'*i)
    i+=1

*
**
***
****
*****

In [71]:
A = [70,60,55,75,95,90,80,80,85,100]
tot = 0

for i in A:
    tot+=i
print(tot/len(A))

79.0

In [72]:
numbers = [1,2,3,4,5]
li = []
for i in numbers:
    if i%2==1:
        li.append(i*2)
print(li)

[2, 6, 10]

In [4]:
def is_odd(n):
    if n!=0 and n%2==0:
        print('짝')
    elif n!=0 and n%2==1:
        print('홀')
    else:print('0 입력')
is_odd(int(input('정수 >> ')))

정수 >> 55
홀

In [5]:
def ave(*args):
    s = 0
    for i in args:
        s +=i
    print(s/len(args))
ave(1,2,3,4,5)

3.0

In [7]:
a = 'you are too young to die, too old to drink.'
b = a.replace('y','Y')
print(b)

You are too Young to die, too old to drink.

In [27]:
class Cal4: # 이렇게 하면 객체 생성할 때 초기값 입력해서 진행. 나머지 함수에 일일이 입력 필요 X
    def __init__(self,a,b):
        self.a = a # 객체에서 지정. 객체 쪽 변수 값을 변동하지 않으면 그대로 사용
        self.b = b
    def plus(self):
        return self.a+self.b
    def minus(self):
        return self.a-self.b
    def multi(self):
        return self.a*self.b
    def div(self):
        if self.b!=0:
            return round(self.a/self.b,2)
        else: return 'ZERO DIVISION'
            
계산기 = Cal4(12,3.5)
print(계산기.div())

class AddCal4(Cal4):
    def div(self):
        if self.b!=0:
            return round(self.a/self.b,2)
        else: return 'ZERO DIVISION ERROR'

계산1 = AddCal4(2,0)
print(계산1.div())
print(계산기.a)
print(계산1.a)

3.43
ZERO DIVISION ERROR
12
2

In [23]:
import re
a = 'you are too 123 young to die, too old 456 to drink.'

for i in a:
    print(i, end='')
    
b = re.compile('[A-Z]+',re.I)
print(' '.join(b.findall(a)))

you are too 123 young to die, too old 456 to drink.you are too young to die too old to drink

In [29]:
class Cal:
    def __init__(self):
        self.value = 0
    def add(self,val):
        self.value+=val
        
class UpCal(Cal):
    def minus(self,val):
        self.value-=val
        
cal = UpCal()
cal.add(10) # 0+10
cal.minus(7) # 10-7
print(cal.value)

3

In [43]:
class MaxLimit:
    val = 0
    def add(self,v):
        MaxLimit.val+=v
        if MaxLimit.val>100:
            MaxLimit.val = 100
            return MaxLimit.val
        else: return MaxLimit.val

a = MaxLimit()
print(a.add(50))
print(a.add(30))
print(a.val)

50
80
80

In [51]:
a = [1,-2,3,-5,8,-3,0]
print(list(filter((lambda x:x>=0),a)))

[1, 3, 8, 0]

In [52]:
a = [1,2,3,4]
print(list(map(lambda x:x*3,a)))

[3, 6, 9, 12]

In [53]:
a = [-8,2,7,5,-3,5,0,1]
print(max(a)+min(a))

-1

In [56]:
import glob
glob.glob('C:\cakd5\workspace\m1_programming\*.py')

['C:\\cakd5\\workspace\\m1_programming\\mod1.py',
 'C:\\cakd5\\workspace\\m1_programming\\mod2.py']

In [58]:
a = 'a:b:c:d'
print('#'.join(a.split(':')))

a#b#c#d

In [62]:
a = {'A':90, 'B':80}
a['C'] = 70
print(a)

{'A': 90, 'B': 80, 'C': 70}

In [63]:
a = [20,55,67,82,45,33,90,87,100,25]
s = 0
for i in a:
    if i>=50:
        s+=i
print(s)

481

In [66]:
n = int(input('정수 입력 >> '))

def fiv(a):
    if a==0:
        return 0
    if a==1:
        return 1
    return fiv(a-2)+fiv(a-1)

for i in range(n):
    print(fiv(i),end=' ')

정수 입력 >> 10
0 1 1 2 3 5 8 13 21 34

In [71]:
a = input('숫자 입력 >> ')
b = (a.split(','))
s = 0
for i in range(len(b)):
    s = s+int(b[i])
print(s/len(b))

숫자 입력 >> 12,24,36
24.0

In [73]:
a = int(input('단 수 입력 >> '))
for i in range(1,10):
    print(a*i, end=" ")

단 수 입력 >> 4
4 8 12 16 20 24 28 32 36

In [87]:
with open('data/fortest.txt','w') as f:
    f.write('''AAA
BBB
CCC
DDD
EEE''')

with open('data/fortest.txt','r') as f:
    line = f.readlines()
    line.reverse()
    print(line)

with open('data/fortest.txt','w') as f:
    for i in line:
        i = i.strip()
        f.write(i)
        f.write('\n')
        
with open('data/fortest.txt','r') as f:
    print(f.read())

['EEE', 'DDD\n', 'CCC\n', 'BBB\n', 'AAA\n']
EEE
DDD
CCC
BBB
AAA

In [101]:
with open('data/sample.txt', 'r') as f:
    print(f.readlines())
    line = f.readlines()
print(len(line))
s = 0
for i in line:
    score = int(i)
    s +=score
print(s)

['70\n', '60\n', '55\n', '75\n', '95\n', '90\n', '80\n', '80\n', '85\n', '100']
0
0

In [110]:

data = input('숫자열 입력 ')

num = list(map(int,data))
print(num)
li = []
for i,j in enumerate(num):
    li.append(str(j))
    if i < len(num)-1:
        odd1 = j%2 ==1
        odd2 = num[i+1]%2==1

        if odd1 and odd2 :
            li.append('-')
        elif not odd1 and not odd2:
            li.append('*')
print(''.join(li))

숫자열 입력 112345
[1, 1, 2, 3, 4, 5]
1-12345